@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 0 5rem 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 5rem;
}
header img {
  width: 200px;
}

.navbar-header ul {
  display: flex;
  flex-direction: row;
}
.navbar-header ul li {
  list-style: none;
}
.navbar-header ul li a {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 2rem;
  text-decoration: none;
  color: #ff6060;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background: #000000;
  color: #ffffff;
}
footer img {
  width: 80px;
  padding-bottom: 5px;
}

.errorPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
}
.errorPageContent a {
  color: #ff6060;
  margin-top: 10rem;
}

.errorNotFound {
  font-weight: 700;
  font-size: 20rem;
  margin: 10rem 0 0 0;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.banner img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
  border-radius: 25px;
}
.banner h1 {
  position: absolute;
  color: #ffffff;
  font-weight: 500;
  font-size: 3rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 55px 0;
  gap: 55px;
  border-radius: 20px;
}
.cardContainer::after {
  content: "";
  width: 340px;
  height: 340px;
}

.cardContent {
  position: relative;
  width: 340px;
  height: 340px;
}
.cardContent img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardContent h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

.collapse {
  width: 100%;
  margin: 30px 0;
}
.collapse button {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #ff6060;
  color: #ffffff;
}
.collapse button span {
  float: right;
}

.contentCollapse {
  border-radius: 10px;
  padding: 20px;
  font-weight: 400;
  font-size: 1.3rem;
  background-color: #f7f7f7;
  color: #ff6060;
}
.contentCollapse li {
  list-style: none;
  margin: 5px 0;
}
.contentCollapse p {
  margin: 0;
}

.about section.collapse {
  width: 80%;
  margin: 30px auto;
}

.carousel {
  position: relative;
  width: 100%;
  height: 430px;
}
.carousel p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
}
.carousel button {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
}
.carousel button svg {
  font-size: 5rem;
  color: #ffffff;
}

.carouselImg {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btnCarouselPrevious {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  opacity: 80%;
}
.btnCarouselPrevious:hover {
  opacity: 100%;
}

.btnCarouselNext {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 80%;
}
.btnCarouselNext:hover {
  opacity: 100%;
}

.rating {
  display: flex;
}
.rating svg {
  color: #f7f7f7;
}
.rating svg.starActive {
  color: #ff6060;
}/*# sourceMappingURL=style.css.map */