@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 0 5rem 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem 5rem;
}
header img {
  width: 200px;
}

.navbar-header ul {
  display: flex;
  flex-direction: row;
}
.navbar-header ul li {
  list-style: none;
}
.navbar-header ul li a {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 2rem;
  text-decoration: none;
  color: #ff6060;
}

.navbar-header a.activeLink {
  border-bottom: 2px solid #ff6060;
}

@media (max-width: 900px) {
  header {
    margin: 1rem 1rem;
  }
  header img {
    width: 100px;
  }
  .navbar-header ul li a {
    font-size: 1rem;
  }
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background: #000000;
  color: #ffffff;
}
footer img {
  width: 80px;
  padding-bottom: 5px;
}

@media (max-width: 745px) {
  footer p {
    font-size: 0.8rem;
  }
}
.errorPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
}
.errorPageContent a {
  color: #ff6060;
  margin-top: 10rem;
}

.errorNotFound {
  font-weight: 700;
  font-size: 20rem;
  margin: 10rem 0 0 0;
}

@media (max-width: 745px) {
  .errorPageContent {
    font-size: 0.8rem;
    text-align: center;
  }
  .errorPageContent a {
    margin-top: 7rem;
  }
  .errorNotFound {
    font-size: 9rem;
    margin-top: 7rem;
  }
}
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.banner img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
  border-radius: 25px;
}
.banner h1 {
  position: absolute;
  color: #ffffff;
  font-weight: 500;
  font-size: 3rem;
}

@media (max-width: 900px) {
  .banner {
    margin: 1rem 0;
  }
  .banner img {
    height: 150px;
    border-radius: 10px;
  }
  .banner h1 {
    margin: 0 100px 0 20px;
    font-size: 1.5rem;
  }
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 55px 0;
  gap: 55px;
  border-radius: 20px;
}

.cardContent {
  position: relative;
  width: 340px;
  height: 340px;
}
.cardContent img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardContent h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 900px) {
  .cardContainer {
    padding: 1rem 0;
    gap: 2rem;
  }
}
@media (max-width: 745px) {
  .cardContainer {
    background: none;
  }
  .cardContent {
    height: 250px;
  }
}
.collapse {
  width: 100%;
  margin: 30px 0;
}
.collapse button {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: #ff6060;
  color: #ffffff;
}
.collapse button span {
  float: right;
}

.contentCollapse {
  border-radius: 10px;
  padding: 20px;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: #f7f7f7;
  color: #ff6060;
}
.contentCollapse li {
  list-style: none;
  margin: 5px 0;
}
.contentCollapse p {
  margin: 0;
}

.aboutPageContent section.collapse {
  width: 80%;
  margin: 30px auto;
}

.annoncePageContent div:has(> .collapse) {
  display: flex;
  width: 100%;
  margin: 0px auto;
  gap: 40px;
}
.annoncePageContent div:has(> .collapse) .collapse {
  margin: 0;
}

@media (max-width: 900px) {
  section.collapse button {
    font-size: 1rem;
  }
  .contentCollapse {
    font-size: 0.9rem;
  }
  .aboutPageContent section.collapse {
    width: 100%;
    margin: 2rem auto;
  }
  .annoncePageContent div:has(> .collapse) {
    margin: 1rem 0;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
.carousel {
  position: relative;
  width: 100%;
  height: 430px;
}
.carousel p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
}
.carousel button {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
}
.carousel button svg {
  font-size: 5rem;
  color: #ffffff;
}

.carouselImg {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btnCarouselPrevious {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  opacity: 80%;
}
.btnCarouselPrevious:hover {
  opacity: 100%;
}

.btnCarouselNext {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 80%;
}
.btnCarouselNext:hover {
  opacity: 100%;
}

@media (max-width: 745px) {
  .carousel {
    height: 250px;
  }
  .carousel p {
    display: none;
  }
  .carousel button svg {
    font-size: 1.5rem;
  }
}
.rating {
  display: flex;
  font-size: 1.3rem;
  gap: 6px;
}
.rating svg {
  color: #e3e3e3;
}
.rating svg.starActive {
  color: #ff6060;
}

@media (max-width: 745px) {
  .rating {
    font-size: 1rem;
  }
}
.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  margin: 25px 0;
}
.tagContainer li {
  list-style: none;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #ff6060;
  color: #ffffff;
}

@media (max-width: 745px) {
  .tagContainer {
    margin: 0;
  }
  .tagContainer li {
    font-size: 0.8rem;
  }
}
.annoncePageContent {
  display: flex;
  flex-direction: column;
  color: #ff6060;
}
.annoncePageContent .annonceHeader {
  position: relative;
}
.annoncePageContent .annonceAuthor-Rating {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: flex-end;
}

.annonceTitle-Location {
  width: 75%;
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.1rem;
}
.annonceTitle-Location h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0;
}
.annonceTitle-Location p {
  margin: 5px 0;
}

.annonceAuthor {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.annonceAuthor p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 500;
  font-size: 1.1rem;
  gap: 2px;
}
.annonceAuthor img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 745px) {
  .annoncePageContent {
    margin-top: 1rem;
  }
  .annoncePageContent .annonceHeader {
    display: flex;
    flex-direction: column;
  }
  .annoncePageContent .annonceAuthor-Rating {
    position: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 0;
  }
  .annonceAuthor {
    order: 1;
    margin: 0;
  }
  .annonceAuthor p {
    font-size: 0.9rem;
  }
  .annonceAuthor img {
    width: 48px;
    height: 48px;
  }
  .annonceTitle-Location {
    width: 100%;
    margin: 10px 0;
  }
  .annonceTitle-Location h1 {
    font-size: 1.5rem;
  }
  .annonceTitle-Location p {
    margin: 5px 0;
  }
}
@media (max-width: 900px) {
  main {
    margin: 0 1rem 200px;
  }
}/*# sourceMappingURL=style.css.map */