.annoncePageContent {
  display: flex;
  flex-direction: column;
  color: $primary-color;

  .annonceHeader {
    position: relative;
  }

  .annonceAuthor-Rating {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: flex-end;
  }
}

.annonceTitle-Location {
  width: 75%;
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.1rem;

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0;
  }

  p {
    margin: 5px 0;
  }
}

.annonceAuthor {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    font-size: 1.1rem;
    gap: 2px;
  }

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media (max-width: 745px) {
  .annoncePageContent {
    margin-top: 1rem;

    .annonceHeader {
      display: flex;
      flex-direction: column;
    }

    .annonceAuthor-Rating {
      position: inherit;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0.5rem 0 0;
    }
  }

  .annonceAuthor {
    order: 1;
    margin: 0;

    p {
      font-size: 0.9rem;
    }

    img {
      width: 48px;
      height: 48px;
    }
  }

  .annonceTitle-Location {
    width: 100%;
    margin: 10px 0;

    h1 {
      font-size: 1.5rem;
    }

    p {
      margin: 5px 0;
    }
  }
}
