.collapse {
  width: 100%;
  margin: 30px 0;

  button {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;

    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

    background-color: $primary-color;
    color: $white-color;

    span {
      float: right;
    }
  }
}

.contentCollapse {
  border-radius: 10px;
  padding: 20px;

  font-weight: 400;
  font-size: 1.2rem;

  background-color: $grey-color;
  color: $primary-color;

  li {
    list-style: none;
    margin: 5px 0;
  }

  p {
    margin: 0;
  }
}

.aboutPageContent {
  section.collapse {
    width: 80%;
    margin: 30px auto;
  }
}

.annoncePageContent {
  div:has(> .collapse) {
    display: flex;
    width: 100%;
    margin: 0px auto;
    gap: 40px;

    .collapse {
      margin: 0;
    }
  }
}

@media (max-width: 900px) {
  section.collapse {
    button {
      font-size: 1rem;
    }
  }

  .contentCollapse {
    font-size: 0.9rem;
  }

  .aboutPageContent {
    section.collapse {
      width: 100%;
      margin: 2rem auto;
    }
  }

  .annoncePageContent {
    div:has(> .collapse) {
      margin: 1rem 0;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
}
