header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem 5rem;

  img {
    width: 200px;
  }
}

.navbar-header ul {
  display: flex;
  flex-direction: row;
  padding: 0;

  li {
    list-style: none;

    a {
      font-size: 1.7rem;
      font-weight: 500;
      margin-left: 2rem;
      text-decoration: none;
      color: $primary-color;
    }
  }
}

.navbar-header a.activeLink {
  border-bottom: 2px solid $primary-color;
}

@media (max-width: 900px) {
  header {
    margin: 1rem 1rem;

    img {
      width: 100px;
    }
  }

  .navbar-header ul {
    li {
      a {
        font-size: 1rem;
      }
    }
  }
}
