.rating {
  display: flex;
  font-size: 1.3rem;
  gap: 6px;

  svg {
    color: #e3e3e3;
  }

  svg.starActive {
    color: $primary-color;
  }
}

@media (max-width: 745px) {
  .rating {
    font-size: 1rem;
  }
}
